.a{ width:5%;}
.b{ width:12%;}
.c{ width:12%}
.d{ width:25%}
.e{ width:25%}
.f{ width:21%}
.g{ width:19%}

#output{position:absolute;
    height:70%;
    width:100%;
    overflow:scroll;
}


.sty:hover{
    background-color:#2492FF;
    color:white;
}
form{margin-bottom:0; margin-top:0;}
.find{
    background-color:#936;padding:5px 0 12px 0; color:#336;
}
.k{
    padding:0 20px 5px 10px;
}
td{
    height:5px;
    text-align:center;
    vertical-align:baseline;
    border: solid 1px #DDDDDD;
}
input{
    height:30px; font-weight:bold; font-size:14px;
}
th{
    color:#DDD;
    background-color:#008080;
    border:outset; height:30px;
}