form {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}

.k {
    padding: 0 20px 5px 10px;
}

td {
    text-align: center;
    vertical-align: baseline;
    border: solid 1px #DDDDDD;
}

th {
    color: #DDD;
    background-color: #008080;
    border: outset;
    height: 30px;
}
