@media only screen and (min-width: 500px) {
    .footer_parent{
        width:100%;
        padding:0;
        margin:0;
        z-index:5;
        position:fixed;
        top:91%;
        display:inherit;
        background-color:#008080;
        min-height:50%;
        text-align: center;
    }
}