.a {
    width: 5%;
}

.b {
    width: 12%;
}

.c {
    width: 12%
}

.d {
    width: 25%
}

.e {
    width: 25%
}

.f {
    width: 21%
}

.g {
    width: 19%
}

#output {
    position: absolute;
    height: 70%;
    width: 100%;
    overflow: scroll;
}

.sty:hover {
    background-color: #2492FF;
    color: white;
}

.find {
    background-color: #1d6699;
    padding: 5px 0 6px 0;
    color: #a3af25;
    font-weight: 100;
}

td {
    height: 5px;
    font-size: 14px;

}

input {
    height: 20px;
    font-weight: bold;
    font-size: 14px;
}

.output {
    position: absolute;
    height: 70%;
    width: 100%;
    overflow: scroll;
}

