.a{ display:none;}
.b{ width:50%;}
.c{ width:50%}
.d{ display:none}
.e{ display:none}
.f{ display:none}
.g{ display:none}
.fix{position:relative;width:100%;}

#output{position:relative;
		}
.btn{ 
	width:100%
	}
.find{
	 background-color:#936; color:#336;
	}

.search_input{
	width:80px;
}
table{
	 font-size:100%;
	 width:100%;
	 padding:0px;	
	}
tr{
	//width:100%;
		
	}
td{ 
	min-height:5px;
	}
/*.sty:hover{
	background-color:3399FF;
	color:white;
	}*/
