@media only screen and (min-width: 700px) {
    .nav_parent>*{ margin:0; padding:0;}
    .ul_parent{ width:100%; margin:auto; }
    .ul_parent>li{
        background:linear-gradient( #003333 , #00CECE);  /* Standard syntax */
        width:18%; margin:auto; padding:2% 1%; float:left;
        list-style-type:none;
    }
    .ul_parent>li>a{ width:80%; display:block; text-align:center;text-decoration:none; padding:18px 20px; color:#ECECEC; font-size:100%;}
    .ul_parent>li>a:hover{color:white; border-radius:10px;
        background:linear-gradient( #002B2B, teal);
    }
    .ul_parent>li>a:active{color:white; border-radius:10px;
        background:linear-gradient( #002B2B, teal);
    }
    :target{
        color:white; border-radius:10px;
        background:linear-gradient( skyblue, teal);
        outline:none;
    }
}
@media only screen and (max-width: 699px) {
    .nav_parent>*{ margin:0; padding:0;}
    .ul_parent{ width:100%; margin:auto; }
    .ul_parent>li{ background-color:#4FA7FF;
        width:100%; margin:auto; padding:2% 1%; margin:1% 0%;
        list-style-type:none;
        text-align:center; font-size:inherit;
    }
    .ul_parent>li>a{ width:100%; display:block; text-align:center;text-decoration:none;color:#ECECEC; font-size:100%;}
}